.cache
auto-save-list
custom.el
eln-cache
elpa
emojis
games
tramp
transient
tree-sitter
recentf
eshell
history
*~
\#*#
mason
.org-id-locations
*.eld
*.elc
projects
org-roam.db
.mc-lists.el
.user-lisp-autoloads.el